<div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 20px; max-height: 300px; overflow-y: auto; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">

  <p>
    <strong> 🇫🇷 Excited to participate in the OCEAN Summer Retreat in Paris, where I will present our paper <a href="https://arxiv.org/abs/2503.13050">E-Values Expand the Scope of Conformal Prediction</a>.</strong>
    <br><em>July 21-25, 2025</em><br>
  </p>

  <p>
    <strong> 🇨🇦 Our paper <a href="https://arxiv.org/abs/2502.04879">Statistical Collusion by Collectives on Learning Platforms</a> was selected for an oral presentation at ICML 2025! I will be presenting it in Vancouver this July.</strong>
    <br><em>July 13-19, 2025</em><br>
  </p>

  <!-- etc. -->
</div>
