<div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 20px; max-height: 300px; overflow-y: auto; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); font-family: sans-serif; line-height: 1.5;">

    <p>📌 
    <a href="https://arxiv.org/abs/2512.11779" target="_blank">New paper</a> online! 
    Since conditional coverage is the central objective in conformal prediction, reliable metrics are needed to assess conditional miscoverage. By recasting conditional coverage as a classification problem, we develop new theoretical tools for evaluating conditional miscoverage.
    <br><em>December 12, 2025</em>
  </p>

  <p>📌 
    My <a href="https://arxiv.org/abs/2507.20941" target="_blank">second paper</a> is now available!  
    We conformalize the level sets of densities to get flexible conformal sets. It allows to deal with missing outputs for instance.  
    <br><em>July 28, 2025</em>
  </p>

  <p>📌 
    My <a href="https://arxiv.org/abs/2503.19068" target="_blank">first paper</a> is now available!  
    We introduce a new loss to minimize the size of coverage-guaranteed sets in multivariate regression. We also tackle the NP-hard problem of finding minimum-volume enclosing ellipsoids using optimization strategies.  
    <br><em>March 24, 2025</em>
  </p>

  <p>📌 
    I started my PhD under the supervision of Michael I. Jordan and Francis Bach!  
    <br><em>September 1, 2024</em>
  </p>  

  <p>📌 
    I started my internship under the supervision of Michael I. Jordan and Francis Bach! I will work on uncertainty quantification.  
    <br><em>April 2, 2024</em>
  </p>

  <p>📌 
    I published <a href="https://youtu.be/OsQcy-Y4lZU" target="_blank">a new video on the HOO algorithm</a>!  
    I want to popularize DeepMind's AlphaZero algorithm in this series of videos.  
    <br><em>July 31, 2023</em>
  </p>
 
  <p>📌 
    I published my <a href="https://youtu.be/x78IpaQx6IE" target="_blank">first video on bandits</a>!  
    <br><em>July 5, 2023</em>
  </p>  
  
  <p>📌 
    I am starting a new internship at the Cluster Inc laboratory in Tokyo! I will work on Reinforcement Learning.  
    <br><em>March 28, 2023</em>
  </p> 

  <p>📌 
    Finished second on an <a href="assets/img/quantumBlack.png" target="_blank">hackathon from QuantumBlack</a>!  
    <br><em>October 9, 2022</em>
  </p>

</div>
